.todo-list {
    max-width: 40%;
    margin: auto; /* Center the list */
    text-align: center; /* Center text inside list */
  }
  
  .todocheckbox {
    margin-right: 5%; /* Adjust margin-right in percentage */
    transform: scale(200%); /* Adjust scale using percentage */
  }
  
  .todoinputtext {
    border-radius: 25px; /* Increase border-radius for rounder edges */
    padding: 0.5% 0.5%;
    margin-right: 5%; /* Adjust margin-right in percentage */
    font-size: 130%; /* Adjust font size in percentage */
  }
  
  .todobutton {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5% 2%; /* Adjust padding in percentage */
    border-radius: 15px;
    font-size: 100%; /* Keep the font size the same */
    margin-left: 5%; /* Adjust margin-left in percentage */
  }
  
  .todobutton:hover {
    background-color: #0056b3;
  }
  
  .todotext {
    font-size: 160%;
    padding: 1% 0; /* Adjust padding in percentage */
  }
  
  .todo-list li {
    display: flex; /* Use flexbox for list items */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Center items horizontally */
  }
  